<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="../css/home.css">

</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark" >
        <div class="container-fluid">
            <!-- Navbar Brand (if needed) -->
            <img class="img-fluid logo" src="/img/logo3.png" alt="Responsive image">
            <a class="navbar-brand name" href="">Pearly Joy Clinic</a> 
           
            <!-- Navbar Toggler for mobile devices -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{home}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
              </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{showFormForBook}">Booking</a>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{showFormForAdd}">Sign-Up</a>
                    </li>
                </ul>
            </div>
        </div>
         <!-- low dark color -->

<!-- line Light color -->
<div class="loading-line-High"> </div>


    </nav>
   

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  alt="Responsive image" src="/img/1.jpg" class="d-block w-100 img-fluid " >
          </div>
          <div class="carousel-item">
            <img   alt="Responsive image" src="/img/home1.jpg" class="d-block w-100 img-fluid " >
          </div>
          <div class="carousel-item">
            <img  alt="Responsive image" src="/img/home2.jpg" class="d-block w-100 img-fluid " >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="Service" id="services">
        <div class="text-center">
          <p>Services</p>
        </div>
      </div>

      <div class="container ">
        <div class="service-grid ">
          <!-- Repeat this block for each service -->
         <div class="row">
          <div class=" service-item ">
            <div class=" box"> <img src="/img/Hollywood Smile.jpeg" alt="Service Image"> </div>
            <div class="service-text">Hollywood Smile</div>
          </div>
          <div class="service-item ">
            <div class="box">  <img src="/img/IMPLANT & ORAL SURGERY.jpeg" alt="Service Image"> </div>
            <div class="service-text">IMPLANT & ORAL SURGERY</div>
          </div>
          <div class="service-item ">
            <div class="box">  <img src="/img/Orthodontics.jpeg" alt="Service Image"> </div>
            <div class="service-text">Orthodontics</div>
          </div>
         </div>

         <div class="row ">
          <div class="service-item ">
            <div class="box">  <img src="/img/Endodontics.jpeg" alt="Service Image"> </div>
            <div class="service-text">Endodontics</div>
          </div>
          <div class="service-item">
            <div class="box">  <img src="/img/PEDIATRIC DENTISTRY.jpeg" alt="Service Image"> </div>
            <div class="service-text">PEDIATRIC DENTISTRY</div>
          </div>
          <div class="service-item ">
          <div class="box">  <img src="/img/Laser Periodontal Treatmen.jpeg" alt="Service Image"> </div>
            <div class="service-text">Laser Periodontal Treatment</div>
          </div>
        </div>

        <div class="row ">
          <div class="service-item ">
            <div class="box">  <img src="/img/Crowns & Bridges.jpeg" alt="Service Image"> </div>
              <div class="service-text">Crowns & Bridges</div>
            </div>
            <div class="service-item ">
              <div class="box">  <img src="/img/Teeth Whitening.jpeg" alt="Service Image"> </div>
                <div class="service-text">Teeth Whitening</div>
              </div>
              <div class="service-item ">
                <div class="box">  <img src="/img/Cosmetic Fillings.jpeg" alt="Service Image"> </div>
                  <div class="service-text">Cosmetic Fillings</div>
                </div>
          
        </div>
          <!-- ... other services -->
        </div>
      </div>
    
        
       
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>